.container-side-menu {
  border-radius: 0 10px 10px 0px;
  padding: 0.5rem;
  background-color: #1f1f23;
  color: #efecf1;
  max-height: 100vh;
  overflow-y: scroll;
}
.country-bar {
  display: flex;
  margin-left: 0.5rem;
  align-items: center;
  border-radius: 10px;
  transition: all 0.3s ease;
  &:hover {
    cursor: pointer;
    background-color: #efecf1;
    color: #1f1f23;
  }
  p {
    margin: 1rem;
  }
}
.country-flag {
  margin: 2px 5px;
}

*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}